@import "./global/global.css";

/* Utilidades */
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";
@import "./utilidades/componentes.css";
@import "./utilidades/formulario.css";
/* @import "./utilidades/simple-anime.css"; */

/* Header e Footer */
@import "./global/header.css";
@import "./global/footer.css";

/* Home */
@import "./home/introducao.css";
@import "./home/tecnologia.css";
@import "./home/parceiros.css";
@import "./home/depoimento.css";

/* Seguros */
@import "./seguros/seguros.css";
@import "./seguros/vantagens.css";
@import "./seguros/perguntas.css";

/* Biciletas */
@import "./bicicletas/bicicletas.css";
@import "./bicicletas/bicicletas-lista.css";

/* Bicileta */
@import "./bicicleta/bicicleta.css";
@import "./bicicleta/seguro.css";

/* Contato */
@import "./contato/contato.css";
@import "./contato/lojas.css";

/* Orçamento */
@import "./orcamento/orcamento.css";

/* Termos */
@import "./termos/termos.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: inherit;
}

body {
  /* CRIAR ESPAÇO EMBAIXO PARA PODER FAZER O SCROLL E VER COMO ESTÁ FICANDO O POSICIONAMENTO */
  padding-bottom: 600px;
}

img {
  max-width: 100%;
  display: block;
}

.header-bg {
  background-color: #000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  color: #ffffff;
  display: inline-block;
  padding: 16px 0px;
  font-size: 18px;
  position: relative;
  font-family: "Poppins";
  font-weight: 400;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #ffffff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

.introducao-bg {
  background-color: #000;
  color: white;
  box-shadow: inset 0 -120px white;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  /* box-sizing: border-box; */
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.introducao img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao h1 {
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 1.125;
  font-family: "Poppins";
  font-weight: 600;
}

.introducao h1 span {
  color: #ffbb00;
}

.introducao p {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
  color: #b2b2b2;
  font-family: "Roboto";
  font-weight: 400;
}

.introducao a {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbb00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #332200;
  font-size: 18px;
  line-height: 1.33;
  font-family: "Poppins";
  font-weight: 600;
}

.introducao a:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 48px;
  }

  .introducao p {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .introducao-bg {
    background-color: #111;
    padding-top: 40px;
    box-shadow: inset 0 -60px #ffffff;
  }

  .introducao-conteudo {
    padding-bottom: 0;
  }

  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introducao h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }

  .header-menu {
    gap: 20px;
  }

  .header-menu a {
    background: #111;
    padding: 12px 16px;
    border-radius: 4px;
  }

  .header-menu a:hover {
    background-color: #2e2e2e;
  }
  .header-menu a:hover:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
  .header-menu a:hover:after {
    display: none;
  }

  .introducao a {
    padding: 12px 16px;
    font-size: 16px;
  }
}
