@import "./global/global.css";

/* Utilidades */
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";
@import "./utilidades/componentes.css";
@import "./utilidades/formulario.css";
/* @import "./utilidades/simple-anime.css"; */

/* Header e Footer */
@import "./global/header.css";
@import "./global/footer.css";

/* Home */
@import "./home/introducao.css";
@import "./home/tecnologia.css";
@import "./home/parceiros.css";
@import "./home/depoimento.css";

/* Seguros */
@import "./seguros/seguros.css";
@import "./seguros/vantagens.css";
@import "./seguros/perguntas.css";

/* Biciletas */
@import "./bicicletas/bicicletas.css";
@import "./bicicletas/bicicletas-lista.css";

/* Bicileta */
@import "./bicicleta/bicicleta.css";
@import "./bicicleta/seguro.css";

/* Contato */
@import "./contato/contato.css";
@import "./contato/lojas.css";

/* Orçamento */
@import "./orcamento/orcamento.css";

/* Termos */
@import "./termos/termos.css";

body,
ul,
li,
a {
  margin: 0;
  list-style: none;
  padding: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  font-size: 18px;
  color: white;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }

  .header-menu a {
    background: var(--cor-11);
    border-radius: 4px;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}

/* REVISAR CLASSES DE CORES E TIPOGRAFIA INSERIDAS NO HTML E CSS */
