#bicicleta .titulo p {
  text-transform: uppercase;
}

.bicicleta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding: 60px 20px;
}

.bicicleta-imagens {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bicicleta-imagens a {
  flex: 1;
  min-width: 200px;
}

.bicicleta-imagens a:first-child {
  min-width: 100%;
}

/* .bicicleta-imagens img:nth-child(1n + 2) {
  border: 2px solid transparent;
}

.bicicleta-imagens img:hover:nth-child(1n + 2) {
  border: 2px solid var(--cor-p1);
  cursor: pointer;
} */

.bicicleta-imagens a {
  display: inline-block;
}

.bicicleta-imagens a:nth-child(1n + 2) {
  border: 2px solid transparent;
  border-radius: 4px;
  opacity: 0.7;
}

.bicicleta-imagens a:hover:nth-child(1n + 2) {
  border: 2px solid var(--cor-p1);
  border-radius: 4px;
  cursor: pointer;
  opacity: 1;
}

.bicicleta-conteudo > p {
  margin-bottom: 32px;
}

.bicicleta-comprar {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 8px 12px;
  margin-bottom: 40px;
}

.bicicleta-comprar a {
  grid-row: span 2;
}

.bicicleta-comprar span {
  display: flex;
  align-items: center;
  background: var(--cor-12);
  padding: 4px 8px;
  border-radius: 4px;
  gap: 8px;
}

.bicicleta-conteudo h2 {
  text-transform: uppercase;
  letter-spacing: 0.015em;
  margin-bottom: 12px;
}

.bicicleta-informacoes,
.bicicleta-ficha {
  padding: 32px;
  background: var(--cor-12);
  border-radius: 4px;
}

.bicicleta-informacoes {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.bicicleta-informacoes img {
  width: 24px;
  margin-bottom: 8px;
}

.bicicleta-informacoes h3 {
  margin-bottom: 8px;
}

.bicicleta-ficha li {
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--cor-11);
}

.bicicleta-ficha li:last-child {
  border: none;
}

.bicicleta-ficha span {
  color: var(--cor-6);
}

@media (max-width: 800px) {
  .bicicleta {
    grid-template-columns: 1fr;
    padding: 40px 20px;
  }
  .bicicleta-imagens {
    grid-row: 2;
  }
}
@media (max-width: 400px) {
  .bicicleta-informacoes {
    grid-template-columns: 1fr;
    padding: 40px 20px;
  }

  .bicicleta-comprar {
    grid-template-columns: 1fr;
  }
}
