.seguro-bg {
  background: var(--cor-11);
  box-shadow: inset 0 180px var(--cor-0), inset 0 -180px var(--cor-12);
}

.seguro-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seguro-conteudo {
  padding: 180px 0;
}

.seguro h2 {
  margin-bottom: 32px;
}

.seguro p {
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .seguro-bg {
    box-shadow: inset 0 -120px var(--cor-12);
  }
  .seguro {
    grid-template-columns: 1fr;
  }
  .seguro-conteudo {
    grid-row: 1;
    padding-top: 40px;
    padding-bottom: 0px;
  }
} ;
