.seguro-bg {
  background: var(--cor-11);
  box-shadow: inset 0px 80px var(--cor-0), inset 0 -200px var(--cor-11);
}

.seguro-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.seguro-imagem img {
  width: 80%;
  /* height: 100%; */
  object-fit: cover;
  margin: auto;
}

.seguro-conteudo {
  padding: 80px 0px;
}

.seguro h2 {
  margin-bottom: 32px;
}

.seguro p {
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .seguro-bg {
    box-shadow: inset 0 -260px var(--cor-12);
  }
  .seguro {
    grid-template-columns: 1fr;
    display: grid;
  }
  .seguro-conteudo {
    grid-row: 1;
    padding: 40px 20px;
    /* padding-bottom: 120px; */
  }
} ;
