* {
  text-decoration: none;
  /* margin: 0; */
  font-family: Arial;
}

html,
body {
  height: 100vh;
  margin: 0;
  background: #f7f7f7;
}

main {
  max-width: 1000px;
  margin: auto;
}

span {
  text-transform: lowercase;
}

h1 {
  margin: 0;
}

footer {
  text-align: center;
  margin-top: 20px;
}

.titulo {
  margin: auto;
  width: 120px;
}

.menu a {
  margin-top: 20px;
  font-size: 20px;
}

/* GRID PINCIPAL */

.grid-principal {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

/* COLUNA ESQUERDA */

.col-esquerda {
  display: grid;
}

.subtitulo {
  text-transform: capitalize;
  margin: 0;
  text-align: right;
}

.descricao {
  margin: 0;
  text-align: right;
}

.botao {
  display: grid;
  width: 130px;
  height: 50px;
  text-align: center;
}

.ver-mais {
  text-transform: capitalize;
  background: #ee2211;
  padding: 20px;
  color: white;
  border-radius: 4px;
  width: 100px;
  inline-size: 90px;
}

/* COLUNA DIREITA */

.imagem {
  width: 100%;
}

.bike {
  max-width: 100%;
}

/* COLUNA ESQUERDA INFERIOR */

.col-esquerda-inferior {
  border: 1px solid black;
}

.sub-vantagens {
  word-wrap: break-word;
  text-align: right;
  text-transform: uppercase;
  font-size: 64px;
  margin: 0;
}

/* COLUNA DIREIA INFERIOR */

.col-direita-inferior {
  display: grid;
  grid-template-columns: 40px 1fr;
  row-gap: 40px;
}

.titulo-descricao {
  font-size: 40px;
  margin: 0;
  text-transform: capitalize;
  grid-column: 2;
}

.paragrafo-descricao {
  font-size: 20px;
  margin: 0;
  grid-column: 2;
}

.icones {
  grid-column: 1;
  margin-top: 10px;
}
