* {
  text-decoration: none;
  /* margin: 0; */
  font-family: Arial;
}

html,
body {
  height: 100vh;
  /* margin: 40px; */
  background: #f7f7f7;
}

main {
  max-width: 1000px;
  margin: auto;
}

span {
  text-transform: lowercase;
}

h1 {
  margin: 0;
}

footer {
  text-align: center;
  margin-top: 20px;
}

.titulo {
  margin: auto;
  width: 120px;
  margin-bottom: 20px;
}

.menu {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 50px;
  /* margin-bottom: 20px; */
  border: 1px dashed gray;
  height: 80px;
}

.menu a {
  background: red;
  color: white;
  padding: 1vw 2vw;
  font-weight: 600;
  border-radius: 0.5vw;
  font-size: 1vw;
  /* margin-bottom: 40px; */
}

/* GRID PINCIPAL */

.grid-principal {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
}

/* COLUNA INTRODUÇÃO */

.introducao {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  /* grid-template-rows: none; */
  place-items: center;
}

.subtitulo2 {
  text-transform: capitalize;
  margin: 0;
  /* text-align: right; */
  /* align-self: center; */
}

.descricao {
  margin: 0;
  /* text-align: right; */
  grid-row: 1;
}

.botao {
  display: grid;
  width: 130px;
  height: 50px;
  text-align: center;
}

.ver-mais {
  /* display: grid; */
  text-transform: capitalize;
  background: #ee2211;
  /* padding: 20px; */
  color: white;
  border-radius: 4px;
  /* width: 100px; */
  /* inline-size: 90px; */
  place-self: center;
}

/* COLUNA DIREITA */

.imagem {
  width: 100%;
}

.bike {
  max-width: 100%;
  grid-column: 2 / 3;
}

/* COLUNA ESQUERDA INFERIOR */

.col-esquerda-inferior {
  border: none;
}

.subtitulo3 {
  word-wrap: break-word;
  text-align: right;
  text-transform: uppercase;
  font-size: 64px;
  margin: auto;
}

/* COLUNA VANTAGENS */

.vantagens {
  display: grid;
  grid-template-columns: 40px auto;
  /* grid-template-rows: repeat (6, 40px); */
  row-gap: 10px;
}

.icones {
  grid-column: 1;
  align-self: center;
}

.titulo-descricao {
  font-size: 40px;
  margin: 0;
  text-transform: capitalize;
  grid-column: 2;
}

.paragrafo-descricao {
  font-size: 20px;
  margin: 0;
  grid-column: 2;
}
