* {
  text-decoration: none;
  /* margin: 0; */
  font-family: Arial;
}

html,
body {
  height: 100vh;
  margin: 0;
  background: #f7f7f7;
}

main {
  max-width: 1000px;
  margin: auto;
}

span {
  text-transform: lowercase;
}

h1 {
  margin: 0;
}

footer {
  text-align: center;
  margin-top: 20px;
}

.titulo {
  margin: auto;
  width: 120px;
}

.menu a {
  margin-top: 20px;
  font-size: 20px;
}

/* GRID PINCIPAL */

.grid-principal {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

/* COLUNA ESQUERDA */

.col-esquerda {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  /* grid-template-rows: none; */
  place-items: center;
}

.subtitulo {
  text-transform: capitalize;
  margin: 0;
  /* text-align: right; */
  /* align-self: center; */
}

.descricao {
  margin: 0;
  /* text-align: right; */
  grid-row: 1;
}

.botao {
  display: grid;
  width: 130px;
  height: 50px;
  text-align: center;
}

.ver-mais {
  /* display: grid; */
  text-transform: capitalize;
  background: #ee2211;
  /* padding: 20px; */
  color: white;
  border-radius: 4px;
  /* width: 100px; */
  /* inline-size: 90px; */
  place-self: center;
}

/* COLUNA DIREITA */

.imagem {
  width: 100%;
}

.bike {
  max-width: 100%;
  grid-column: 2 / 3;
}

/* COLUNA ESQUERDA INFERIOR */

.col-esquerda-inferior {
  border: none;
}

.sub-vantagens {
  word-wrap: break-word;
  text-align: right;
  text-transform: uppercase;
  font-size: 64px;
  margin: auto;
}

/* COLUNA DIREIA INFERIOR */

.col-direita-inferior {
  display: grid;
  grid-template-columns: 40px auto;
  grid-template-rows: repeat (6, 40px);
  row-gap: 10px;
}

.titulo-descricao {
  font-size: 40px;
  margin: 0;
  text-transform: capitalize;
  grid-column: 2;
}

.icones {
  grid-column: 1;
  align-self: center;
}

.paragrafo-descricao {
  font-size: 20px;
  margin: 0;
  grid-column: 2;
}

.vantagem-wrapper {
  /* border: 1px solid black; */
  margin-top: 18%;
}
