* {
  font-family: arial;
}

h1 {
  text-align: center;
  margin: 20px;
}

h2 {
  margin: 0;
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 300px 300px;
  place-content: center;
}

.item {
  border-radius: 4px;
  border: 1px solid black;
  padding: 20px;
  display: grid;
}

.comprar {
  background-color: darkgrey;
  padding: 10px;
  text-decoration: none;
  border-radius: 4px;
  color: black;
  text-align: center;
  font-weight: 600;
}

.preco {
  font-weight: 600;
  background-color: rgb(168, 206, 240);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 4px;
}
