/* RESET DE ESTILOS */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* h1 {
  display: inline;
} */

.calculadora {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  /* justify-items: center; */
  width: 400px;
  justify-self: center;
  margin: 50px auto;
  /* border: 1px solid black; */
}

.calculadora div {
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}

.numeros {
  /* justify-self: center; */
  cursor: pointer;
  background-color: lightgrey;
}

.numeros:hover {
  background-color: darkgray;
}

.calculadora h1 {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}
