.parceiros {
  padding: 60px 0 120px 0;
  border: 2px solid transparent;
  margin-bottom: 20px;
}

.parceiros:hover {
  border: 2px solid var(--cor-2);
}

.parceiros h2 {
  margin-bottom: 60px;
}

.parceiros ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.parceiros li {
  display: flex;
  padding: 32px;
  border-left: 2px solid transparent;
}

.parceiros:hover li {
  border-left: 2px solid var(--cor-2);
}

.parceiros img {
  margin: auto;
}

.parceiros li:first-child,
.parceiros li:nth-child(5) {
  border-left: none;
}

.parceiros li:nth-child(n + 5) {
  border-top: 2px solid transparent;
}
.parceiros:hover li:nth-child(n + 5) {
  border-top: 2px solid var(--cor-2);
}

@media (max-width: 800px) {
  .parceiros {
    padding-bottom: 60px;
  }

  .parceiros h2 {
    margin-bottom: 20px;
  }

  .parceiros ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .parceiros li {
    padding: 20px;
  }

  .parceiros li:nth-child(n + 3) {
    border-top: 2px solid var(--cor-2);
  }
  .parceiros li:nth-child(odd) {
    border-left: none;
  }
} ;
