.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: #525252;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}

.experiencia-texto strong {
  color: #141414;
}

.empresa {
  display: grid;
  gap: 10px 20px;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background: #cccccc;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  color: #525252;
  font-size: 0.875rem;
  text-align: right;
  width: 80px;
}

.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto {
  font-size: 0.875rem;
  color: #525252;
  line-height: 1.4;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  align-content: start;
  justify-content: space-between;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #fff;
  padding: 10px 20px;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .experiencia .subtitulo {
    color: #141414;
  }

  .experiencia-texto {
    font-size: 1.25rem;
  }

  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
  .empresa-ano::before {
    content: "Ano: ";
  }

  .empresa-habilidades li {
    text-align: center;
    padding: 10px;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }

  .empresa-texto {
    text-align: left;
  }
}
