/* RESET DE ESTILOS */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

#main {
  width: 250px;
  height: 50vh;
  margin: 50px auto;
  background-color: rgb(154, 154, 248);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
}

#main h1 {
  /* place-self: center; */
  background-color: aliceblue;
  text-align: center;
}

#exibirResultado {
  place-self: start center;
  padding: 15px;
}

#exibirResultado h2,
p {
  margin-bottom: 15px;
}

h2 {
  text-align: center;
}

#update {
  padding: 5px;
  background-color: #222;
  color: white;
  border: 1px solid black;
  border-radius: 15%;
  width: fit-content;
  display: flex;
  place-items: center;
  margin: auto;
}
