* {
  text-decoration: none;
  font-family: Arial;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
}

html,
body {
  background: #e0e0e0;
  max-width: 1000px;
  margin: auto;
}

footer {
  text-align: center;
  margin-top: 2.5rem;
}

/* HEADER OK */

.header {
  display: grid;
  place-items: center;
}

.banner {
  margin: 2rem;
}

.menu ul {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  place-content: center;
}

.menu a {
  display: block;
  background: white;
  color: black;
  padding: 10px 30px;
  font-weight: 600;
  border-radius: 0.5vw;
  text-transform: uppercase;
  border: 2px solid transparent;
}

.menu a:hover {
  border: 2px solid #ee2211;
}

.menu a:focus {
  outline-style: none;
  border: 2px solid #ee2211;
}

/* GRID PRINCIPAL */
.grid-principal {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* COLUNA INTRODUÇÃO */
.introducao {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-content: center;
  text-align: right;
  justify-items: end;
  position: relative;
  background-color: white;
}
.introducao::before {
  content: "";
  width: 60px;
  height: 4px;
  position: absolute;
  background: red;
  top: 30px;
  right: -30px;
}

.introducao h1 {
  text-transform: capitalize;
  font-size: 2rem;
  margin: 0;
}

.introducao p {
  font-size: 1.25rem;
}

.introducao a {
  text-transform: uppercase;
  background: #ee2211;
  padding: 20px;
  color: white;
  border-radius: 4px;
  justify-content: end;
}

.introducao a:hover {
  background: #900;
}

.grid-principal img {
  max-width: 100%;
}

.subtitulo {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  background-image: url("../images/onda.svg");
}

.subtitulo h2 {
  text-align: right;
  padding: 40px;
  text-transform: uppercase;
  font-size: 4rem;
  color: #c6c6c6;
  /*PARA ALINHAR ESSE TEXTO PODE-SE USAR O MARGIN AUTO OU ALIGN-SELF*/
  /* margin: auto auto; */
  /* align-self: center; */
}

.vantagens-wrapper {
  padding: 20px;
  background-color: white;
}

.vantagens-itens {
  display: grid;
  grid-template-columns: 40px auto;
  grid-column: 2/-1;
  gap: 10px 20px;
  padding: 20px 10px;
  border-left: 2px solid transparent;
}

.vantagens-itens:nth-child(odd) {
  background-color: #f5f3f3;
}

.vantagens-itens img {
  grid-column: 1;
  place-self: center;
  height: 40px;
}

.vantagens-itens h3 {
  font-size: 2.5rem;
  margin: 0;
  text-transform: capitalize;
  grid-column: 2;
}

.vantagens-itens p {
  font-size: 1.25rem;
  margin: 0;
  grid-column: 2;
}

.vantagens-itens:hover {
  border-left: 2px solid red;
}

.menu a,
.vantagens-itens {
  transition: 0.3s;
}
