* {
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
html {
  background: #e0e0e0;
  max-width: 1000px;
  margin: auto;
}

.header {
  display: grid;
  margin-bottom: 2rem;
}

.banner {
  justify-self: center;
  margin: 2rem auto;
}

.menu {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.menu a {
  padding: 1rem 2rem;
  background: white;
  display: block;
  text-transform: uppercase;
  color: black;
  border: 2px solid transparent;
  border-radius: 0.4rem;
}

.menu a:hover {
  border: 2px solid red;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 20rem);
  justify-content: center;
  gap: 2rem;
}

.info-grid img {
  max-width: 100%;
}

.info-detalhes {
  align-self: center;
  text-align: right;
  display: grid;
}

.info-detalhes a {
  padding: 1rem 2rem;
  display: inline-block;
  color: white;
  background-color: red;
  border-radius: 0.4rem;
  text-transform: uppercase;
}
