@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--fontePrincipal);
  color: #222;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --fontePrincipal: "Nunito", sans-serif;
}

.fonte400 {
  font-family: var(--fontePrincipal);
  font-weight: 400;
}
.fonte400i {
  font-family: var(--fontePrincipal);
  font-weight: 400;
  font-style: italic;
}
.fonte700 {
  font-family: var(--fontePrincipal);
  font-weight: 700;
}

.fonte700i {
  font-family: var(--fontePrincipal);
  font-weight: 700;
  font-style: italic;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.superinfo-bg {
  background: #122ab2;
  padding: 20px 0;
}

.superinfo,
.menu,
.nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  gap: 20px;
}

.superinfo,
.superinfo a,
.superinfo p,
.menu a {
  color: white;
}

.menu a:hover{
  color: #122ab2;
}

.menu-bg {
  background-color: #2c70ff;
}

.menu-logo {
  font-size: 2.25rem;
}

.nav-links {
  gap: 50px;
}
.nav-links a {
  display: block;
  padding: 10px;
}

#contato a {
  padding-right: 0;
}

/* .nav-links li:last-child {
  padding-right: 0;
} */

h1.introducao {
  font-size: 3rem;
  padding: 60px 0;
}

.sobre,
.produtos-container {
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 50px;
}

.preco {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 40px 0;
}

.preco-info {
  padding: 20px 0;
}

.preco-item a {
  display: block;
  padding: 20px;
}

@media (max-width: 800px) {
  .nav-links {
    gap: 0;
  }

  .menu {
    justify-content: center;
  }
  #contato a {
    padding-right: 10px;
  }
} ;
