.perguntas {
  padding: 120px 20px;
}

.perguntas h2 {
  margin-bottom: 60px;
}

.perguntas dl > div {
  padding: 20px;
  border-radius: 4px;
}

.perguntas dl > div:nth-child(odd) {
  background: var(--cor-1);
}

.perguntas button {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  background: inherit;
}

.perguntas button::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background: var(--cor-p1);
}
.perguntas button::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 6px;
  background: url("../../img/icones/seta-abrir.svg");
  transition: 0.3s;
}

.perguntas button:hover::after,
.perguntas button[aria-expanded="true"]::after {
  transform: rotate(180deg);
}

.perguntas dd.ativa {
  display: block;
}

.perguntas dd {
  display: none;
  padding-left: 20px;
  padding-top: 16px;
  max-width: 80ch;
}

@media (max-width: 800px) {
  .perguntas {
    padding: 60px 20px;
  }
  .perguntas h2 {
    margin-bottom: 40px;
  }
} ;
