.vantagens-bg {
  background: var(--cor-12);
}

.vantagens {
  padding: 40px 20px;
}

.vantagens h2 {
  margin-bottom: 60px;
}

.vantagens ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  gap: 40px 80px;
}

.vantagens h3,
.vantagens img {
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .vantagens {
    padding: 60px 20px;
  }

  .vantagens h2 {
    margin-bottom: 40px;
  }
  .vantagens ul {
    gap: 20px;
  }
}
