#contato {
  background: linear-gradient(var(--cor-11) 700px, var(--cor-1) 0px);
}

.contato {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-top: 0;
}

.contato-dados,
.contato-formulario {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contato-dados {
  border-radius: 5px 0 0 5px;
  background: var(--cor-12);
}

.contato-dados h2 {
  margin-bottom: 60px;
}

.contato-formulario {
  border-radius: 0 5px 5px 0;
  background: var(--cor-0);
}

.contato-redes a {
  display: inline-block;
  padding-right: 32px;
}

.contatos-meio a {
  display: block;
  max-width: max-content;
  margin-bottom: 8px;
  padding-left: 28px;
}

.contatos-meio a:first-child {
  background: url("../../img/icones/email.svg") no-repeat 0px 2px;
}

.contatos-meio a:nth-child(2) {
  margin-bottom: 32px;
}

.contatos-meio a:nth-child(3) {
  background: url("../../img/icones/telefone.svg") no-repeat 0px 2px;
  margin-bottom: 60px;
}

.contatos-meio a:hover {
  color: var(--cor-0);
}

.contato-endereco {
  margin-bottom: 32px;
}

.contato-endereco {
  padding-left: 28px;
  background: url("../../img/icones/local.svg") no-repeat 0px 2px;
}

.contato-endereco p {
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  #contato {
    background: linear-gradient(var(--cor-11) 400px, var(--cor-1) 0px);
  }
  .contato {
    grid-template-columns: 1fr;
  }
  .contato-dados,
  .contato-formulario {
    padding: 20px;
  }
  .contato-dados {
    border-radius: 5px 5px 0 0;
  }
  .contato-formulario {
    border-radius: 0 0 5px 5px;
  }
  .contato-dados h2,
  .contatos-meio {
    margin-bottom: 32px;
  }
  .contato-redes {
    margin-bottom: 12px;
  }
} ;
