#contato {
  background: var(--cor-1);
}

.contato {
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.contato-dados,
.contato-formulario {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 200px;
}

.contato-dados {
  border-radius: 5px 0 0 5px;
  background: var(--cor-12);
}

.contato-formulario {
  border-radius: 0 5px 5px 0;
  background: var(--cor-0);
}

.contato-redes a {
  display: inline-block;
  padding: 10px;
}

.contato-redes a:first-child {
  padding-left: 0;
}
