.lojas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  padding: 0 20px 60px 20px;
}

.lojas h2 {
  grid-column: span 2;
  margin-bottom: 60px;
}

.lojas-item iframe {
  border-radius: 4px 4px 0 0;
  width: 100%;
}

.lojas-item {
  border-radius: 4px;
  background: var(--cor-0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.lojas-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 32px;
  gap: 32px 16px;
}

.lojas-conteudo h3,
.lojas-horario {
  grid-column: span 2;
}

.lojas-dados {
  display: grid;
  gap: 8px;
  border-left: 2px solid var(--cor-2);
  padding-left: 12px;
}

.lojas-dados a:hover {
  color: var(--cor-12);
  font-weight: 600;
}

.lojas-horario {
  display: flex;
  gap: 8px;
  align-items: center;
}

@media (max-width: 800px) {
  .lojas {
    grid-template-columns: 1fr;
    gap: 32px;
    padding: 20px 20px 60px 20px;
  }

  .lojas h2 {
    grid-column: 1;
    margin-bottom: 12px;
  }
  .lojas-conteudo {
    grid-template-columns: auto auto;
  }
} ;
