.container {
  max-width: 1200px;
  padding: 20px 20px;
  margin: 0 auto;
}

.botao {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(var(--cor-p1), var(--cor-p6));
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor-p5);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.botao:hover {
  background: linear-gradient(var(--cor-p7), var(--cor-p8));
}

.botao.secundario {
  background: var(--cor-10);
  color: var(--cor-2);
}

.botao.secundario:hover {
  background: var(--cor-9);
}

.botao.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url("../../img/icones/seta.svg");
  transition: 0.3s;
}

.botao.seta:hover::after {
  transform: translateX(4px);
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

.link {
  display: inline-block;
  color: var(--cor-p1);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: currentColor;
}

.link:hover {
  color: var(--cor-0);
}

.titulo-bg {
  background: url("../../img/dec/bottom-left.svg") no-repeat top 40px right 20px
    var(--cor-11);
}

.titulo p {
  margin-bottom: 4px;
}

@media (max-width: 800px) {
  .container {
    padding: 20px;
  }

  .titulo p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}
