.botao {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(var(--cor-p1), var(--cor-p6));
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor-p5);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
}

.botao:hover {
  background: linear-gradient(var(--cor-p7), var(--cor-p8));
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}
