.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form label {
  display: block;
  font: 600 1rem/1.5 "Poppins", sans-serif;
  margin-bottom: 4px;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  font: 400 1rem/1.5 "Roboto", sans-serif;
}
